<div id="<%= dom_id vehicle %>">
  <p>
    <strong>Marca:</strong>
    <%= vehicle.marca %>
  </p>

  <p>
    <strong>Modelo:</strong>
    <%= vehicle.modelo %>
  </p>

  <p>
    <strong>Año:</strong>
    <%= vehicle.año %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= vehicle.tipo %>
  </p>

  <p>
    <strong>Precio:</strong>
    <%= vehicle.precio %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= vehicle.estado %>
  </p>

  <p>
    <strong>Dealership:</strong>
    <%= vehicle.dealership.nombre %>
  </p>

</div>
