<p style="color: green"><%= notice %></p>

<%= render @vehicle %>

<div>
  <%= link_to "Editar", edit_vehicle_path(@vehicle) %> |
  <%= link_to "Regresar", vehicles_path %>
<p> </p>
  <%= button_to "Eliminar este vehículo", @vehicle, method: :delete %>
</div>
